
/* Your CSS Code here. */
.test1{
	margin: 20px;
	width:300px;
	background-colour:rgb(173, 216, 230);
}
p{
	background: lightblue;
	width: 300px;
	padding: 50px;
	text-align: center;
	border: 15px solid blue;
}